<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SkillCalc.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SkillCalc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SkillCalc.Settings1>
            <setting name="MinBaseDamage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxBaseDamage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainStat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainStatType" serializeAs="String">
                <value />
            </setting>
            <setting name="PassiveType" serializeAs="String">
                <value />
            </setting>
            <setting name="PA" serializeAs="String">
                <value />
            </setting>
            <setting name="PDEnemy" serializeAs="String">
                <value />
            </setting>
            <setting name="BD" serializeAs="String">
                <value />
            </setting>
            <setting name="MD" serializeAs="String">
                <value />
            </setting>
            <setting name="DiffLvl" serializeAs="String">
                <value />
            </setting>
            <setting name="Defense" serializeAs="String">
                <value />
            </setting>
            <setting name="DebuffDef" serializeAs="String">
                <value />
            </setting>
            <setting name="Pen" serializeAs="String">
                <value />
            </setting>
            <setting name="BLvl" serializeAs="String">
                <value />
            </setting>
            <setting name="AmplDmg" serializeAs="String">
                <value />
            </setting>
            <setting name="CrystallAmp" serializeAs="String">
                <value />
            </setting>
            <setting name="Buffs" serializeAs="String">
                <value />
            </setting>
            <setting name="Fuse" serializeAs="String">
                <value />
            </setting>
            <setting name="Weakness" serializeAs="String">
                <value />
            </setting>
            <setting name="Poison" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseDamage" serializeAs="String">
                <value />
            </setting>
            <setting name="AmpDWeapon" serializeAs="String">
                <value />
            </setting>
            <setting name="AddDamage" serializeAs="String">
                <value />
            </setting>
            <setting name="SealCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FuseCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DragonsCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WeaknessCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PoisonCheck" serializeAs="String">
                <value>False</value>
            </setting>
        </SkillCalc.Settings1>
        <SkillCalc.Properties.Settings>
            <setting name="MinBaseDamage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxBaseDamage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainStat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainStatType" serializeAs="String">
                <value />
            </setting>
        </SkillCalc.Properties.Settings>
    </userSettings>
</configuration>